@media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  
    .main {
      width: 100%;
    }
  
    .scheduler {
      margin: 10px auto;
    }
  }
  
  .imgLogo {
    padding: 20px;
    margin-left: 10px;
  }
  
  .scheduler {
    width: 100%;
  }

  .container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6fff6;    
    color: var(--blue);
  }
  
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    justify-content:center;
  }

  .title{
      color: var(--blue);
  }