:root{
  --white: #FEFCFD;
  --blue: #0B3954;
  --lightGreen: #9CFC97;
  --darkGreen: #306B34;
  --brown: #551B14;
}

*{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}